:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.95);
  background-color: #000000;
  /* Suggestion Prompt Colors */
  --gradient-colors: #cb1a1a, #a129bc, #1b45aa, #1cac2b, #22bbb8, #cfc40b;
  --color-1: #cb1a1a;
  --color-2: #a129bc;
  --color-3: #1b45aa;
  --color-4: #1cac2b;
  --color-5: #22bbb8;
  --color-6: #cfc40b;
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  height: 100vh;
  background-color: #000000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(200, 200, 200, 0.1);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(245, 245, 245, 0.5);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
