torch
easyocr
torchvision
supervision==0.18.0
openai==1.86.0
transformers
ultralytics==8.3.50
azure-identity
numpy==1.26.4
opencv-python
opencv-python-headless
dill
accelerate
timm
einops==0.8.0
paddlepaddle
paddleocr
python-dotenv
python-multipart
cloudinary
fastapi
uvicorn
mistralai
prisma
python-socketio[client]