.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
    transition: all 0.2s ease-out;
}

.modal {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 2rem 0.5rem;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    animation: slideUp 0.3s ease-out;
    transition: all 0.2s ease-out;
}

.modal-overlay.hidden,
.modal.hidden {
    opacity: 0;
    visibility: hidden;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .modal-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 255, 128, 0.1);
  border: 1px solid rgba(0, 255, 128, 0.2);
  border-radius: 50%;
  color: rgba(0, 255, 128, 0.9);
} */

.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: rgba(255, 255, 255, 1);
}

.modal-text {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    margin: 0 0 1.5rem;
    text-align: center;
}

.cancelButton {
    margin-top: 2rem;
    padding: 0.2rem 0.5rem;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.cancelButton:hover {
    transform: scale(1.05);
    background: #fff;
    border: 1px solid #fff;
}

.loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid #0000;
    border-right-color: rgba(0, 255, 128, 0.9);
    position: relative;
    animation: spin 1s infinite linear;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}

.loader:after {
    animation-duration: 4s;
}

@keyframes spin {
    100% {
        transform: rotate(1turn)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}